 page-register {
     .background{
    background-image: url(/assets/imgs/login-bg.jpg);
    height: 100%;
    width: 100%;
    background-position: center;
    position: fixed;
    background-size: cover;
    }
    .btn{
    color: #FFFFFF;
    background-image: none;
    background-color: #32CD32;
    border-color: #008000;
}

.invalid {
     border-bottom: 1px solid #ea6153;
     }
ion-input {
    border-bottom: 1px solid  #008000;
    }
 }