

<ion-header style="background-color: #FFFFFF !important;">
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
      <ion-title style="margin-left:5px">
        <img width="50" height="50" src="assets/imgs/Teras_Herbal_Juice_Logo.png">
      </ion-title>
  </ion-navbar>
</ion-header>
<ion-content style="background-color: #edeaea" padding-right>
    <ion-grid>
        <ion-row>
            <ion-col s6>
                <ion-card style="border-radius:5px;width:100%;height:100px">
                    <ion-card-header>

                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="star" color="yellow" style="color:yellow"></ion-icon>
                        {{points}} points <br>
                        <div style="text-align: center">
                            <button ion-button color="secondary" style="font-size: 5pt" round>view</button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
            <ion-col s6>
                <ion-card style="border-radius:5px;width:100%;height:100px">
                    <ion-card-header>

                    </ion-card-header>
                    <ion-card-content>
                        <ion-icon name="basket" color="primary"></ion-icon>
                        {{numOfOrders}} orders <br>
                        <div style="text-align: center">
                            <button (click)="viewOrders()" ion-button color="secondary" style="font-size: 5pt" round>view</button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col s12>
                <ion-card class=" cards-bg" style="border-radius:5px;width:100%;height:100%">
                    <ion-card-header>
                        <div>
                            <ion-grid>
                                <ion-row>
                                    <ion-col s6>
                                        <ion-icon name="people" color="primary"></ion-icon>
                                     My People
                                    </ion-col>
                                    <ion-col s6>
                                        <button ion-button color="secondary" style="font-size: 5pt;margin-top:-10px;width:100%" round>view</button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </div>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-spinner *ngIf="usersUnderMe.length <= 0 && loading"></ion-spinner>
                        <ion-item-group *ngIf="usersUnderMe.length > 0">
                            <ion-item-divider *ngFor="let people of usersUnderMe" [value]="people.name">{{people.name + " " + people.surname}}</ion-item-divider>
                        </ion-item-group>
                        <p *ngIf="usersUnderMe.length <= 0 && !loading">no users</p>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
