<!--
  Generated template for the UploadPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
      <ion-title style="text-align: center">
           <img width="50" height="50" src="../assets/imgs/Teras_Herbal_Juice_Logo.png">
      </ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding style="background-color: #edeaea">
    <ion-card *ngIf="showUploadButton">
        <ion-card-header style="font-family: 'Noto Sans', sans-serif">
          Upload Proof of Payment
        </ion-card-header>
        <ion-card-content>
          The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          <br><br>
          The British use the term "header", but the American term "head-shot" the English simply refuse to adopt.
          <br><br>
          <button ion-button color="secondary" style="width:100%" round (click)="listDirectories()">browse</button>
        </ion-card-content>
    </ion-card>
    <ion-card *ngIf="!showUploadButton">
        <ion-card-header style="font-family: 'Noto Sans', sans-serif">
            <ion-icon name="folder" style="color:#14bf14"></ion-icon>&nbsp;Documents
        </ion-card-header>
        <ion-card-content>
             <div *ngFor="let file of files">
                <div (click)="uploadDocument()">
                    {{file.name}}
                </div>
               <!-- <div >
                  File: {{file.name}}
                </div> -->
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
